:root{
  --mute: #e5e5e5;
  --dark: #333;
  --red: #cf2b2b;
  --green: #32b72f;
  --grey: #cbcbcb;
  --checkout-green: #50d074;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-righteous : 'Righteous', cursive;
}

header {
  background-color: var(--red);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding-top: 5px;
  padding-left: 16px;
  height: 92px;
}

header h1{
  font-family: var(--ff-righteous);
  font-weight: normal;
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.012em;
}

header p{
  font-family: var(--ff-roboto);
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

main {
  padding: 123px 0 108px 6px;
  background-color: var(--mute);
  min-height: 100vh;
}

section{
  margin-top: 17px;
}

section:first-child{
  margin-top: 0;
}

section h2 {
  color: var(--dark);
  letter-spacing: 0.018em;
  line-height: 32px;
  font-size: 26px;
  font-family: var(--ff-righteous);
  margin-bottom: 18px;
  margin-left: 10px;
}

.menu{
  overflow-x: scroll;
  display: flex;
}

.menu::after{
  content: ".";
  color: var(--mute);
  width: 1px;
}

.menu-item {
  width: 172px;
  border-radius: 9px;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--ff-roboto);
  border: 5px solid white;
  padding: 14px 10px;
  margin: 10px;
  flex-shrink: 0;
}

.menu-item:not(.selected){
  cursor: pointer;
}

:not(.selected) .order-controls{
  display: none;
}

.selected .order-controls{
  display: initial;
}

.item-wrapper {
  width: 100%;
}

.item-wrapper > *{
  margin-bottom: 10px;
}

.item-wrapper > *:last-child{
  margin-bottom: 0;
}

.item-wrapper img {
  width: 100%;
  height: 87px;
  object-fit: cover;
  border-radius: 4px;
}

.item-wrapper h3{
  font-weight: bold;
  font-size: 16px;
  line-height: 18.75px;
  color: var(--dark);
}

.unit-description{
  color: #a6a6a6;
  line-height: 18px;
  font-size: 15px;
  font-weight: 300;
}

.price-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.unit-price {
  color: black;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.upButton,
.downButton{
  background-color: white;
  border: none;
  height: 19px;
  line-height: 19px;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

.upButton{
  color: var(--green);
  text-align: end;
  width: 15px;
}

.downButton{
  width: 30px;
  padding-left: 15px;
  text-align: start;
  color: var(--red);
}


.checked {
  font-size: 19px;
  color: var(--green);
}

.spacer {
  width: 16px;
  height: 100%;
  color: var(--mute);
}

.selected{
  border: 5px solid var(--green);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: white;
  padding: 15px 25px;
  height: 92px;
}

footer button{
  height: 100%;
  width: 100%;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.goto-checkout-text{
  font-family: var(--ff-roboto);
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
  letter-spacing: 0.018em;
}

.checkout-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout{
  width: calc(100% - 30px);
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 10px;
  padding: 20px;
  max-width: 414px;
  background-color: white;
  color: #333333;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-roboto);
  border-radius: 9px;
}

.checkout > *:not(:last-child) {
  margin-bottom: 13px;
}

.order{
  width: 100%;
}

.order-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 13px;
}

.order-line:last-child{
  margin-bottom: 0;
}

.order-line *:last-child{
  flex-shrink: 0;
  margin-left: 5px;
}

.confirm,
.cancel{
  border: none;
  margin-left: 10px;
  border-radius: 20px;
  height: 52px;
  cursor: pointer;
  width: calc(100% - 30px);
  font-weight: bold;
  letter-spacing: 0.018em;
  line-height: 26px;
  margin-bottom: 1px;
  font-size: 22px;
}

.confirm{
  color: white;
  background-color: var(--checkout-green);
}

.cancel{
  background-color: var(--mute);
  color: #777777;
}

.fw-bold{
  font-weight: bold;
}

.d-none{
  display: none;
}

.bg-grey {
  background-color: var(--grey);
}

.bg-green {
  background-color: var(--green);
}

.bg-white {
  background-color: white;
}

.d-initial{
  display: initial;
}

.pointer {
  cursor: pointer;
}


@media (max-width: 738px){
  .menu{
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .menu::-webkit-scrollbar{
    display: none;
  }
}
